/target
**/target
kuiper_python/kuiper/kuiper


# Compiled python files
*.so
*.pyc
**/__pycache__
**/*.python-version


# IDE files
.idea
**/.env

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json


# JS files
**/node_modules
**/dist
**/yarn.lock


# .NET files
**/bin
**/obj

# Java files
kuiper_java/src/main/resources

# Mac files
**/*.DS_Store

# Go files
go-kuiper/go-kuiper