/target
**/target

# Compiled python files
*.so
*.pyc
**/__pycache__
**/*.python-version

.idea
**/.env
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

# .NET files
**/bin
**/obj
