name: Build and test library

on:
  pull_request:
    branches: [main]

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: rustfmt, clippy
      - name: Run clippy
        run: cargo clippy -- -D warnings
      - name: Run cargo format
        run: cargo fmt --check
      - name: Test
        run: cargo test

  build_python_bindings:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: rustfmt, clippy
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install maturin
        run: pip install maturin
      - name: Build Python bindings
        run: maturin build
        working-directory: ./kuiper_python

  build_codemirror_module:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18.x

      - name: Run install
        working-directory: ./kuiper_lezer
        run: yarn install
      - name: Run test
        working-directory: ./kuiper_lezer
        run: yarn prepare && yarn test